<!--The content below is only a placeholder and can be replaced.-->
 <div id="app" class="joint-app">
  <div class="app-header">
      <div class="app-title" style="background-color: #717d98">
          <h1>Arke</h1>
      </div>
      <div class="toolbar-container"></div>
  </div>
  <div class="app-body">
      <div class="stencil-container"></div>
      <div class="paper-container"></div>
      <div class="inspector-container"></div>
      <div class="navigator-container"></div>
  </div>
</div>


